{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
  	<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand/logo -->
		<a class="navbar-brand">Register</a>
		<!-- Links -->
		  <ul class="navbar-nav">
		    <li class="nav-item">
		      <a class="nav-link" href="{% url 'index' %}">Home</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="{% url 'register' %}">Register</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="{% url 'login' %}">Login</a>
		    </li>
		    
		    <li class="nav-item " >
		    <a class="nav-link" href="http://127.0.0.1:8000/display">Details</a>
		  </ul>
		</li>
	</nav>
	<div class="container">
		<div class="card col-md-6 mx-auto">
			<h2 class="bg-primary text-white text-center border-rounded p-2 m-2">Registration</h2>
			<form method="POST">
				{% csrf_token %}
				<table class="table table-bordered">
					{% for d in data %}
					<tr>
						<td>{{d}}</td>
					</tr>
					{% endfor %}
				</table>
				<input type="submit" name="submit" value="Register" class="btn btn-outline-success">
			</form>
		</div>

	</div>
</body>
</html>